.side
  .side__header
    .side__header__user
      .side__header__user--name
        User_Name
      .side__header__user--icon
        =link_to "#", class: "side__header__user--icon side__header__user--create" do
          = icon("far", "clone")
          %span<>
        =link_to "#", class: "side__header__user--icon side__header__user--edit" do
          = icon("fas", "wrench")
  .side__group
    .side__group--group-name
      グループ名
    .side__group--notice
      メッセージ
    .side__group--group-name
      グループ名
    .side__group--notice
      メッセージ
    .side__group--group-name
      グループ名
    .side__group--notice
      メッセージ
    .side__group--group-name
      グループ名
    .side__group--notice
      メッセージ
    .side__group--group-name
      グループ名
    .side__group--notice
      メッセージ
    .side__group--group-name
      グループ名
    .side__group--notice
      メッセージ
    .side__group--group-name
      グループ名
    .side__group--notice
      メッセージ

